# Ignorar archivos y directorios generales
.DS_Store
.idea
.vscode
*.log
*.tmp
*.swp
*.swo
*.env
*.env.local
*.env.development
*.env.test
*.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Ignorar dependencias de Node.js (backend y frontend)
node_modules/
**/node_modules/

# Ignorar builds y compilaciones
dist/
build/
out/
.cache/


# Ignorar archivos de cobertura y testing
coverage/
.nyc_output/
*.lcov
*.coverage

# Ignorar archivos de Linux
*~
.fuse_hidden

# Ignorar archivos específicos de Node.js (backend)
/server/node_modules/
/server/.env
/server/.env.local
/server/dist/
/server/coverage/
/server/.nyc_output/
/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*

# Ignorar archivos específicos de React (frontend)
/client/node_modules/
/client/.env
/client/.env.local
/client/build/
/client/.cache/
/client/.eslintcache
/client/coverage/
/client/.nyc_output/
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*